@model X.PagedList.IPagedList<Auctions.Data.Models.AuctionViewModel>
@using X.PagedList.Mvc

@{
    ViewBag.Title = "Wins";
}

<h2>Auctions you won</h2>


@{
    var i = 1;
}

@foreach (var item in Model)
{
    if (i % 4 == 1)
    {
        @:<div class="row">
        }
        @Html.Partial("_AuctionWin", item)
        if (i % 4 == 0)
        {
        @:</div>
    }
    i++;
}
@if (i % 4 != 1)
{
    @:</div>
}

<center>
    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page = page,
        searchString = ViewBag.SearchString,
        lowPrice = ViewBag.LowPrice,
        highPrice = ViewBag.HighPrice,
        status = ViewBag.Status
    }))
</center>